@model ConsultaARSHospital.Forma_de_pago

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Forma_de_pago</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_forma_pago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_forma_pago)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_forma_pago }) |
    @Html.ActionLink("Back to List", "Index")
</p>
